< style  type = " text / css " > div # noticias . contenedor {
   margen inferior :  30 px ;
}
div # noticias . pad {
   padding-left :  15 px ;
   padding-top :  5 px ;
}

div # noticias . fila . novedades-cuerpo . novedades-titulo {
  padding-left :  15 px ;
}
div # noticias . fila . novedades-titulo {
   font-weight : negrita;
}
</ estilo >
< div  class = " container " id = " noticias " >
< div  class = " pad de fila " >
< div  class = " col-xs-12 col-sm-12 col-md-9 col-lg-9 " >
	{{h.get_page_html ("novedades") | a salvo }}
</ div >

< div  class = " col-xs-12 col-sm-12 col-md-3 col-lg-3 " >
< h3 > Ultimas actualizaciones </ h3 >
< div  class = " pad de fila " >
		{% set recents = h.recent_resources ()%}
		{% - para recientes en recientes -%}
			< div  class = " col-xs-11 col-sm-11 col-md-10 col-lg-10 " >
			                    
				< Una  clase = " novedades-titulo " href =" {{h.url_for (controller = 'paquete', la acción = 'leer', id = recent.id)}} " > {{recent.title}} </ una >
				< p  class = " novedades-cuerpo " > {{Recent.modified}} </ p >
			</ div >
		{% - endfor -%}
</ div >

</ div >
</ div >
</ div >
