<style>

.flex-row {
				display: flex;
				display: -webkit-flex;
				-webkit-align-items: center;
				flex-wrap: wrap;
				align-items: stretch;
				/*background-color: aquamarine;*/
				justify-content: center;
				margin-top: 8px;
    }
    .flex-row > [class*='col-'] {
        display: flex;
				flex-direction: column;
				/*background-color: yellow;*/
    }
    .flex-row.row:after, 
    .flex-row.row:before {
        display: flex;
    }

	div#tablero.container {
		/*background-color: red;*/
		overflow: hidden;
	}
	div#tablero.container .row {
		background-color: blue;
	}
	div#tablero.container [class*="col-"]{
		float: none;
		/*background-color: green;*/

	}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
	border-radius: 5px; /* 5px rounded corners */
	/*border: 0.3mm solid #dddddd;*/
	margin-bottom: 20px;
	min-height: 320px;
	max-height: 320px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-body {
	border-top: 0.3mm solid #dddddd;
	 padding: 2px 16px;
}
.panel-heading{
	border-color: black;
	border: 50px;
}

</style>
<div id="tablero" class="container">
	<div class="flex-row center-block">
		<div class="col-xs-8 col-sm-8 col-md-3 col-lg-3">
			<div class="card">
				<div class="panel-heading">
					<img src="http://placehold.it/200x150" alt="penal" height="auto" width="auto" class="img-rounded img-responsive center-block">
				</div>
      		<div class="card-body text-center">
					<h3>Justicia Penal</h3>
					Indicadores del país desagregados por provincias.
      		</div>
			</div>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-3 col-lg-3">
			<div class="card">
				<div class="panel-heading text-center">
					<img src="http://placehold.it/200x150" alt="civil" class="img-rounded">
				</div>
      		<div class="card-body text-center">
					<h3>Justicia Civil</h3>
					Incluye civil, laboral, civil patrimonial, comercial, concursos y quiebras, tributario fiscal, familia y contencioso administrativo.
      		</div>
			</div>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-3 col-lg-3">
			<div class="card">
				<div class="panel-heading text-center">
					<img src="http://placehold.it/200x150" alt="genero" class="img-rounded">
				</div>
      		<div class="card-body text-center">
					<h3>Género</h3>
					Datos de Justicia con Perspectiva de Género.
      		</div>
			</div>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-3 col-lg-3">
			<div class="card">
				<div class="panel-heading text-center">
					<img src="http://placehold.it/200x150" alt="oralidad" class="img-rounded">
      		</div>
      		<div class="card-body text-center">
					<h3>Oralidad</h3>
					Indicadores en procesos civiles y comerciales, en el marco del proyecto de generalización de la oralidad efectiva.
      		</div>
			</div>
		</div>
	</div>
</div>

{% resource 'gobar_js/home/groups.js' %}
