{% extends "gobar_page.html" %}

{% block subtitle %} - Marco Legal - Régimen de Acceso a la Información Pública{% endblock %}

{% block content %}
    {% snippet "static/static_nav_bar.html", active_button='nav-legal', sub_active_button='legal-access' %}
<div id="page-container" class="container-fluid gobar-static-container">
  <div id="page" class="col-xs-12 col-md-10 col-md-offset-1 gobar-static">
  <section class="">

    {{ h.get_page_html("marco-legal") | safe }}
</section>
</div>
</div>
{% endblock %}
