{% extends "gobar_page.html" %}

{% block subtitle %} - Marco Legal - Régimen de Acceso a la Información Pública{% endblock %}

{% block content %}
    {#% snippet "static/static_nav_bar.html", active_button='nav-legal', sub_active_button='legal-access' %#}
<style>
.size-text{
	font-size: 18px;
}
</style>
    <div id="legal-access-container" class="container-fluid gobar-static-container">
        <div id="legal-access" class="col-xs-12 col-md-10 col-md-offset-1 gobar-static">
            <div class="col-xs-12 col-md-10 col-md-offset-1 size-text" >
                <h2>Marco Legal</h2>

                <p class="size-text">
                    Queremos mantener las cosas simples para quienes, como vos, necesitan acceder a la información
                    pública y crear valor a partir de ella.
                </p>
					<h3>Ley N° 27275 Derecho de Acceso a la Información Pública</h3>
					             
                <p class="size-text">
                La<a href="http://servicios.infoleg.gob.ar/infolegInternet/verNorma.do?id=265949" >presente ley</a> tiene por objeto garantizar el efectivo ejercicio del derecho de acceso a la información pública, promover la participación ciudadana y la transparencia y gestión pública.
                </p>
					<h3>Plan Nacional de Apertura de Datos</h3>
                <p class="size-text">
                    El <a href="http://www.infoleg.gob.ar/infolegInternet/anexos/255000-259999/257755/norma.htm"
                          target="_blank">Decreto 117/2016</a> reglamenta plazos tanto para la publicación de los
                    primeros datasets en este Portal de Datos como también para detallar los activos de datos de los
                    distintos organismos de la Nación y su cronograma de publicación.
                </p>

                <h3>Sistema Nacional de Datos Públicos</h3>

                <p class="size-text">
                    La <a href="http://www.infoleg.gob.ar/infolegInternet/anexos/215000-219999/218131/norma.htm"
                          target="_blank">Resolución 538/2013</a> reglamenta la creación del programa SINDAP, Sistema
                    Nacional de Datos Públicos.
                </p>
				<h3>Programa Justicia Abierta</h3>

                <p class="size-text">
                    La <a href="http://servicios.infoleg.gob.ar/infolegInternet/anexos/255000-259999/259930/norma.htm"
                          target="_blank">Resolución 87/2016</a> del Ministerio de Justicia y Derechos Humanos de la Nación crea el programa Justicia Abierta.
                      </p>


            </div>

      <!-- Agregado convenio -->
      <div class="row">
        <div  class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="col-sm-12" style="padding-top:2%;">
            <h2>Convenios y Protocolos Interjurisdiccionales</h2>
            </div>
            <div class="col-sm-12 col-md-6">
              <h3>  Convenio Interjurisdiccional de Datos Judiciales Abiertos</h3>
              <a href="https://github.com/datos-justicia-argentina/Convenio-Interjurisdiccional-de-Datos-Abiertos-de-la-Justicia-Argentina/blob/master/Convenio%20Interjurisdiccional%20de%20Datos%20Abiertos%20de%20Justicia.pdf">
              <img src="/img/convenio_portada.png" alt="Convenio Interjurisdiccional de Datos Judiciales Abiertos - PROTOCOLO TÉCNICO DE DATOS Y PROTOCOLO TÉCNICO DE PROCESOS Versión 1 - 7 de abril de 2017" class="ej-img-button">
              </a>
              <p class="text-justify">
                El presente convenio sienta las bases para el desarrollo del nuevo sistema de datos de justicia de la Argentina. Esta iniciativa se propone la publicación de datos en formatos abiertos sobre el funcionamiento y la composición de poderes judiciales y ministerios públicos de todo el país. Fue firmado por más de 50 instituciones en presencia del Presidente de la Nación, el 11 de octubre de 2016.
                <br>
                <a href="https://github.com/datos-justicia-argentina/Convenio-Interjurisdiccional-de-Datos-Judiciales-Abiertos/blob/master/Convenio%20Interjurisdiccional%20de%20Datos%20Abiertos%20de%20Justicia.pdf" class="btn btn-info">
                  Leer convenio completo
                </a>
              </p>

            </div><!-- end col -->
            <div class="col-sm-12 col-md-6" id="ej-protocolo">
              <h3>Protocolo de implementación</h3>
              <a href="
https://github.com/datos-justicia-argentina/Protocolo-de-implementacion-Convenio-Interjurisdiccional-de-Datos-Judiciales-Abiertos-version-II/blob/master/
Protocolo de Implementación del Convenio Interjurisdiccional de Datos Abiertos de Justicia versión II.pdf">
<img alt="Convenio Interjurisdiccional de Datos Judiciales Abiertos - PROTOCOLO TÉCNICO DE DATOS Y PROTOCOLO TÉCNICO DE PROCESOS Versión 2 - 26/02/2018" 
class="ej-img-button" src="img/protocolo2.JPG" /></a> 
              <p class="text-justify">
              El Protocolo Unificado de Datos y Procesos es un documento elaborado en forma conjunta por el Ministerio de Justicia y Derechos Humanos 
              y las instituciones firmantes del Convenio Interjurisdiccional de Datos Judiciales Abiertos. Tiene el propósito de establecer los mecanismos
               mediante los cuales los poderes judiciales y los ministerios públicos de las provincias compartirán los datos estadísticos que serán publicados 
               en el Portal de Datos de la Justicia Argentina
            
        		</p>
        		<p><a class="btn btn-info" href="https://github.com/datos-justicia-argentina/Protocolo-de-implementacion-Convenio-Interjurisdiccional-de-Datos-Judiciales-Abiertos-version-II/blob/master/Protocolo%20de%20Implementaci%C3%B3n%20del%20Convenio%20Interjurisdiccional%20de%20Datos%20Abiertos%20de%20Justicia%20versi%C3%B3n%20II.pdf"> Leer protocolo completo </a></p>
        		<p><a href="https://github.com/datos-justicia-argentina/Protocolo-de-implementacion-Convenio-Interjurisdiccional-de-Datos-Judiciales-Abiertos/blob/master/Protocolo%20de%20Implementaci%C3%B3n%20del%20Convenio%20Interjurisdiccional%20de%20Datos%20Abiertos%20de%20Justicia.pdf">Ver la versi&oacute;n I del PTDyP </a></p>
            </div><!-- end col -->



        </div>
        </div>
        </div>
      </div>
{% endblock %}
